<?php echo $header; ?>
<?php echo $nav; ?>
  <link rel="stylesheet" href="view/dist/plugins/datatables.net-bs/css/dataTables.bootstrap.min.css">
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            <?php echo $text_title; ?>
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>
    
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <table id="example2" class="table table-responsive table-hover">
                            <thead>
                                <tr>
                                    <th><?php echo $column_name; ?></th>
                                    <th><?php echo $column_email; ?></th>
                                    <th><?php echo $column_phone; ?></th>
                                    <th><?php echo $column_mobile; ?></th>
                                    <th><?php echo $column_group; ?></th>
                                    <th><?php echo $column_status; ?></th>
                                    <th><?php echo $column_newsletter; ?></th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php foreach ($members as $member) : ?>
                                <tr>
                                    <td>  <?php echo $member['firstname']. " " . $member['lastname']; ?>  </td>
                                    <td>  <?php echo $member['email']; ?>  </td>
                                    <td>  <?php echo $member['telephone']; ?>  </td>
                                    <td>  <?php echo $member['fax']; ?>  </td>
                                    <td>  <?php echo $member['name']; ?>  </td>
                                    <td>  <?php echo($member['status'] == 1 ? "Enabled" : "Disabled"); ?>  </td>
                                    <td>  <?php echo ($member['newsletter'] == 1 ? "Yes" : "No"); ?>  </td>
                                </tr>
                                <?php endforeach; ?>
                            </tbody>
                            <tfoot>

                            </tfoot>
                        </table>
                    </div>
                </div> 
            </div>
        </div>
    </section>
</div>



<?php echo $footer; ?>   
<script src="view/dist/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="view/dist/plugins/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script>
    $('#example2').DataTable({
        'paging': true,
        'lengthChange': false,
        'searching': false,
        'ordering': true,
        'info': true,
        'autoWidth': false
    });
</script>