<?php echo $header; ?>
<?php echo $nav; ?>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <span><?php echo $heading_title; ?></span>
            <small><?php echo $heading_sub ?></small>
        </h1>
        <ol class="breadcrumb">
            <?php foreach($breadcrumbs as $breadcrumb) : ?>
            <li>
                <a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a>
            </li>
            <?php endforeach; ?>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- right column -->
            <div class="col-md-12">
                <?php if ($warning_err) : ?>
                <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> <?php echo $warning_err; ?>
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
                <?php endif; ?>
                <!-- Horizontal Form -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title"><?php echo $text_form; ?></h3>
                        <div class="box-tools pull-right">
                            <button type="submit" form="form-category" class="btn btn-primary">
                                <i class="fa fa-floppy-o"></i>
                            </button>
                            <a href="<?php echo $cancel; ?>" class="btn btn-default">
                                <i class="fa fa-reply"></i>
                            </a>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form id="form-category" class="form-horizontal" action="<?php echo $action; ?>" method="POST" enctype="multipart/form-data">
                        <!-- <div class="box-body"></div> -->
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab-general" data-toggle="tab"><?php echo $tab_general; ?></a></li>
                                    <li><a href="#tab-data" data-toggle="tab"><?php echo $tab_data; ?></a></li>
                                    <li><a href="#tab-seo" data-toggle="tab"><?php echo $tab_seo; ?></a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab-general">
                                        <ul class="nav nav-tabs" id="language">
                                            <?php foreach($languages as $language) : ?>
                                            <li><a href="#<?php echo $language['language_id']; ?>" data-toggle="tab"><?php echo $language['name']; ?></a></li>
                                            <?php endforeach; ?>
                                        </ul>
                                        <div class="tab-content">
                                            <?php foreach($languages as $language) : ?>
                                            <div class="tab-pane" id="<?php echo $language['language_id']; ?>">
                                                <div class="box-body">
                                                    <div class="form-group <?php echo (!empty($title_err)) ? 'has-error' : ''; ?>">
                                                        <label for="input-title<?php echo $language['language_id']; ?>" class="col-sm-2 control-label"><?php echo $entry_title; ?> <span class="text-red">*</span></label>
                        
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" name="information_description[<?php echo $language['language_id']; ?>][title]" placeholder="<?php echo $entry_title; ?>" value="<?php echo isset($information_description[$language['language_id']]) ? $information_description[$language['language_id']]['title'] : ''; ?>" id="input-title<?php echo $language['language_id']; ?>">
                                                            <?php if(isset($title_err[$language['language_id']])) : ?>
                                                            <span class="help-block"><?php echo $title_err[$language['language_id']]; ?></span>
                                                            <?php endif; ?>
                                                        </div>
                                                    </div>
                                                    <hr >
                                                    <div class="form-group <?php echo (!empty($description_err)) ? 'has-error' : ''; ?>">
                                                        <label for="input-description<?php echo $language['language_id']; ?>" class="col-sm-2 control-label"><?php echo $entry_description; ?> <span class="text-red">*</span></label>
                        
                                                        <div class="col-sm-10">
                                                            <textarea name="information_description[<?php echo $language['language_id']; ?>][description]" placeholder="<?php echo $entry_description; ?>" id="input-description<?php echo $language['language_id']; ?>" data-toggle="summernote" data-lang="<?php echo $summernote; ?>"><?php echo isset($information_description[$language['language_id']]) ? $information_description[$language['language_id']]['description'] : ''; ?></textarea>
                                                            <?php if(isset($description_err[$language['language_id']])) : ?>
                                                            <span class="help-block"><?php echo $description_err[$language['language_id']]; ?></span>
                                                            <?php endif; ?>
                                                        </div>
                                                    </div>
                                                    <hr >
                                                    <div class="form-group <?php echo (!empty($meta_title_err)) ? 'has-error' : ''; ?>">
                                                        <label for="input-meta-title<?php echo $language['language_id']; ?>" class="col-sm-2 control-label"><?php echo $entry_meta_title; ?> <span class="text-red">*</span></label>
                        
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" name="information_description[<?php echo $language['language_id']; ?>][meta_title]" placeholder="<?php echo $entry_meta_title; ?>" value="<?php echo isset($information_description[$language['language_id']]) ? $information_description[$language['language_id']]['meta_title'] : ''; ?>" id="input-meta-title<?php echo $language['language_id']; ?>">
                                                            <?php if(isset($meta_title_err[$language['language_id']])) : ?>
                                                            <span class="help-block"><?php echo $meta_title_err[$language['language_id']]; ?></span>
                                                            <?php endif; ?>
                                                        </div>
                                                    </div>
                                                    <hr >
                                                    <div class="form-group">
                                                        <label for="input-meta-description<?php echo $language['language_id']; ?>" class="col-sm-2 control-label"><?php echo $entry_meta_description; ?></label>
                        
                                                        <div class="col-sm-10">
                                                            <textarea class="form-control" name="information_description[<?php echo $language['language_id']; ?>][meta_description]" rows="5" placeholder="<?php echo $entry_meta_description; ?>" id="input-meta-description<?php echo $language['language_id']; ?>"><?php echo isset($information_description[$language['language_id']]) ? $information_description[$language['language_id']]['meta_description'] : ''; ?></textarea>
                                                        </div>
                                                    </div>
                                                    <hr >
                                                    <div class="form-group">
                                                        <label for="input-meta-keyword<?php echo $language['language_id']; ?>" class="col-sm-2 control-label"><?php echo $entry_meta_keyword; ?></label>
                        
                                                        <div class="col-sm-10">
                                                            <textarea class="form-control" name="information_description[<?php echo $language['language_id']; ?>][meta_keyword]" rows="5" placeholder="<?php echo $entry_meta_keyword; ?>" id="input-meta-keyword<?php echo $language['language_id']; ?>"><?php echo isset($information_description[$language['language_id']]) ? $information_description[$language['language_id']]['meta_keyword'] : ''; ?></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <?php endforeach; ?>
                                        </div>
                                    </div>
                                    <!-- /.tab-pane -->
                                    <div class="tab-pane" id="tab-data">
                                        <div class="form-group">
                                            <label for="input-bottom" class="col-sm-2 control-label"><span data-toggle="tooltip" title="<?php echo $help_bottom; ?>"><?php echo $entry_bottom; ?></span></label>
            
                                            <div class="col-sm-10">
                                                <div class="checkbox">
                                                    <label>
                                                        <?php if($bottom) : ?>
                                                        <input type="checkbox" name="bottom" value="1" checked="checked" id="input-bottom" />
                                                        <?php else : ?>
                                                        <input type="checkbox" name="bottom" value="1" id="input-bottom" />
                                                        <?php endif; ?>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <hr >
                                        <div class="form-group">
                                            <label for="input-sort-order" class="col-sm-2 control-label"><?php echo $entry_sort_order; ?></label>
            
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="sort_order" placeholder="<?php echo $entry_sort_order; ?>" value="<?php echo $sort_order; ?>" id="input-sort-order">
                                            </div>
                                        </div>
                                        <hr >
                                        <div class="form-group">
                                            <label for="input-status" class="col-sm-2 control-label"><?php echo $entry_status; ?></label>
            
                                            <div class="col-sm-10">
                                                <select name="status" id="input-status" class="form-control">
                                                    <?php if($status) :?>
                                                        <option value="1" selected="selected"><?php echo $text_enabled; ?></option>
                                                        <option value="0"><?php echo $text_disabled; ?></option>
                                                        <?php else : ?>
                                                        <option value="1"><?php echo $text_enabled; ?></option>
                                                        <option value="0" selected="selected"><?php echo $text_disabled; ?></option>
                                                    <?php endif; ?>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.tab-pane -->
                                    <!-- /.tab-pane -->
                                    <div class="tab-pane" id="tab-seo">
                                        <div class="alert alert-info"><i class="fa fa-info-circle"></i> <?php echo $text_keyword; ?></div>
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                <td class="text-left"><?php echo $entry_store; ?></td>
                                                <td class="text-left"><?php echo $entry_keyword; ?></td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            <?php foreach($languages as $language) : ?>
                                            <tr>
                                                <td class="text-left"><?php echo $language['name']; ?></td>
                                                <td class="text-left">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <!--<img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" />-->
                                                        </span>
                                                        <input type="text" name="information_seo_url[<?php echo $language['language_id']; ?>]" value="<?php if(isset($information_seo_url[$language['language_id']])) : ?><?php echo $information_seo_url[$language['language_id']]; ?><?php endif; ?>" placeholder="<?php echo $entry_keyword ?>" class="form-control" />
                                                    </div>
                                                </td>
                                            </tr>
                                            <?php endforeach; ?>
                                            </tbody>
                                            
                                            </table>
                                        </div>
                                        </div>
                                    <!-- /.tab-pane -->
                                </div>
                                <!-- /.tab-content -->
                            </div>
                            <!-- nav-tabs-custom -->
                    </form>
                </div>
                <!-- /.box -->
            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<?php echo $footer; ?>
<!-- iCheck -->
<link rel="stylesheet" href="<?php echo HTTP_SERVER; ?>/view/dist/plugins/iCheck/square/blue.css">
<!-- include codemirror (codemirror.css, codemirror.js, xml.js, formatting.js) -->
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.css">
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/theme/monokai.css">
<!-- Summernote -->
<link rel="stylesheet" href="<?php echo HTTP_SERVER; ?>/view/dist/plugins/summernote/dist/summernote.css">
<!-- iCheck -->
<script src="<?php echo HTTP_SERVER; ?>/view/dist/plugins/iCheck/icheck.min.js"></script>
<!-- include codemirror (codemirror.css, codemirror.js, xml.js, formatting.js) -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/xml/xml.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/2.36.0/formatting.js"></script>
<!-- Summernote -->
<script src="<?php echo HTTP_SERVER; ?>/view/dist/plugins/summernote/dist/summernote.js"></script>
<script src="<?php echo HTTP_SERVER; ?>/view/dist/plugins/summernote/dist/summernote-image-attributes.js"></script>
<script src="<?php echo HTTP_SERVER; ?>/view/dist/plugins/summernote/dist/main.js"></script>
<script type="text/javascript">
    $('input[name=\'path\']').autocomplete({
        'source': function(request, response) {
            $.ajax({
                url: 'index.php?url=catalog/category/autocomplete&user_token=' + getURLVar('user_token') + '&filter_name=' +  encodeURIComponent(request),
                dataType: 'json',
                success: function(json) {
                    json.unshift({
                        category_id: 0,
                        name: 'None'
                    });

                    response($.map(json, function(item) {
                        return {
                            label: item['name'],
                            value: item['category_id']
                        }
                    }));
                }
            });
        },
        'select': function(item) {
            $('input[name=\'path\']').val(item['label']);
            $('input[name=\'parent_id\']').val(item['value']);
        }
    });
</script>
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue'
    });
  });
</script>
<script type="text/javascript">
    $('#language a:first').tab('show');
</script>
